.input-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: var(--input-wrapper-flexFlow);
  outline: var(--input-wrapper-outline);
  .form-item {
    max-width: 100%;
    width: 100ch;
    display: flex;
    flex-direction: column;
  }
}
.input-wrapper .form-item .input-wrapper {
  padding: 0;
}
