form {
  padding: 1.5rem;
  &:empty {display: none;}
  border: thick solid var(--form-border-color);
}

.form-wrapper {
  border: thin solid blue;
  > header {
    border: thin solid blue;
  }
  > form {
    border: thin solid red;
  }
}