html, body, #root {
  height: 100%;
}

* {
  font-family: "JetBrains Mono", sans-serif !important;
}

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  > section {
    border: thin solid forestgreen;
  }
}

section {
  position: relative;
}


@import "environments/dev";

@import "components/input";
@import "components/form";
@import "components/nav";

@import "features/user/login-requirement";
@import "features/concept";
@import "features/event";
@import "features/scene";