@import "root";

#application-container {
  &.no-admin {
    .admin {
      display: none;
    }
  }

  nav.admin {
    &:before {content: 'admin nav'}
  }

  .app-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}

main {
  max-width: 95vw;
  > section {
    border: thin solid forestgreen;
  }
}

@import "environments/dev";
@import "components/input";
@import "components/form";
@import "components/nav";
@import "features/user/login-requirement";
@import "features/user/logout-button";
@import "features/concept";
@import "features/event";
@import "features/scene";