.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  border: thin solid green;;
  padding: .5rem;
  label {
    flex-basis: 25%;
  }
  label + * {
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    padding: .2rem;
    margin: 0;
    display: block;
  }
}