.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  padding: .5rem;
  color: var(--label-color);
  label {
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    padding: .2rem;
    margin: 0;
    display: block;
  }
}